{% extends "core/view.html" %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand fw-semibold">АСУ ТП</span>
        <div class="ms-auto">
            <a class="btn btn-outline-light btn-sm" href="{% url 'employees' %}"">Назад</a>
            <a class="btn btn-outline-light btn-sm" href="{% url 'logout' %}"">Выйти</a>
        </div>
    </div>
</nav>
{% endblock %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h3 class="mb-1">{{ profile.user.last_name }} {{ profile.user.first_name }}</h3>
        <p class="text-muted mb-4">
            Зарегистрирован в системе АСУ ТП
        </p>

        <div class="card shadow-sm">
            <div class="card-body p-0">
                <table class="table table-striped mb-0 align-middle">
                    <thead class="table-light">
                        <tr>
                            <!--<th class="text-center">ФИО</th>-->
                            <td class="text-center">Должность</td>
                            <td class="text-center">Подразделение</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <!--<td>{{ profile.user.last_name }} {{ profile.user.first_name }}</td>-->
                            <td class="text-center">{{ profile.position }}</td>
                            <td class="text-center">{{ profile.department }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
